h1{
    align-content: center;
    color: black;
    text-align:center;

}
h3{
  align-items: right;
  align-content:right;
  margin-top: 10px;
  margin-left:1000px;
}
#main{
    position:absolute;
    top:0;
    right:0;
    width:70%;
    padding:20px;
    
}
#returnButton{
font-weight: bold;
color:red;
}