h1{
    align-content: center;
    color: black;
    text-align:center;

}
h3{
  align-items: right;
  align-content:right;
  margin-top: 10px;
  margin-left:1000px;
}
#main{
    position:absolute;
    top:0;
    right:0;
    width:70%;
    padding:20px;
    
}
#returnButton,#ticketButton{
font-weight: bold;
color:red;
}
h4{
  text-decoration: underline;
  font-weight: bold;
  font-size:30px;
}
#movieContainer {
  list-style:decimal;
  margin: 0;
  padding: 0;
  float: left;
  width: 30%;
}
